<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Acceuil</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Acceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajouter</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Ajouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Arret</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Arret</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Existence</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Existence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinTraitement</servlet-name>
        <servlet-class>com.csys.dmi.servlet.FinTraitement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeureFeuille</servlet-name>
        <servlet-class>com.csys.dmi.servlet.HeureFeuille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Intervention</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Intervention</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifFavoris</servlet-name>
        <servlet-class>com.csys.dmi.servlet.ModifFavoris</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifier</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterPosologie</servlet-name>
        <servlet-class>com.csys.dmi.servlet.AjouterPosologie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsigneMedInf</servlet-name>
        <servlet-class>com.csys.dmi.servlet.ConsigneMedInf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultFeuilleRea</servlet-name>
        <servlet-class>com.csys.dmi.servlet.ConsultFeuilleRea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandeBloc</servlet-name>
        <servlet-class>com.csys.dmi.servlet.DemandeBloc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandeEndoscopie</servlet-name>
        <servlet-class>com.csys.dmi.servlet.DemandeEndoscopie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandeLabo</servlet-name>
        <servlet-class>com.csys.dmi.servlet.DemandeLabo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandePosologie</servlet-name>
        <servlet-class>com.csys.dmi.servlet.DemandePosologie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandeRadio</servlet-name>
        <servlet-class>com.csys.dmi.servlet.DemandeRadio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsPosologie</servlet-name>
        <servlet-class>com.csys.dmi.servlet.DetailsPosologie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Evenement</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Evenement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Interactions</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Interactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObservationInfirmierController</servlet-name>
        <servlet-class>com.csys.dmi.servlet.ObservationInfirmierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pharmacie</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Pharmacie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaChart_Consult</servlet-name>
        <servlet-class>com.csys.dmi.servlet.ReaChart_Consult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rea_Consult</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Rea_Consult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rea_Update</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Rea_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppFavoris</servlet-name>
        <servlet-class>com.csys.dmi.servlet.SuppFavoris</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeuilleRea</servlet-name>
        <servlet-class>com.csys.dmi.servlet.UpdateFeuilleRea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patients</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Patients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Favoris</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Favoris</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Surveillance_Consult</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Surveillance_Consult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlanificationNonRealise</servlet-name>
        <servlet-class>com.csys.dmi.servlet.getPlanificationNonRealise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tracabilite</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Tracabilite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anesthesie</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Anesthesie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MacAdresse</servlet-name>
        <servlet-class>com.csys.dmi.servlet.MacAdresse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Impression</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Impression</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UrgenceServlet</servlet-name>
        <servlet-class>com.csys.dmi.urgence.UrgenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prestations_Extras</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Prestations_Extras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pancarte</servlet-name>
        <servlet-class>com.csys.dmi.servlet.Pancarte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acceuil</servlet-name>
        <url-pattern>/Acceuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajouter</servlet-name>
        <url-pattern>/Ajouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Arret</servlet-name>
        <url-pattern>/Arret</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Existence</servlet-name>
        <url-pattern>/Existence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinTraitement</servlet-name>
        <url-pattern>/FinTraitement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeureFeuille</servlet-name>
        <url-pattern>/HeureFeuille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Intervention</servlet-name>
        <url-pattern>/Intervention</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifFavoris</servlet-name>
        <url-pattern>/ModifFavoris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterPosologie</servlet-name>
        <url-pattern>/AjouterPosologie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsigneMedInf</servlet-name>
        <url-pattern>/ConsigneMedInf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultFeuilleRea</servlet-name>
        <url-pattern>/ConsultFeuilleRea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandeBloc</servlet-name>
        <url-pattern>/DemandeBloc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandeEndoscopie</servlet-name>
        <url-pattern>/DemandeEndoscopie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandeLabo</servlet-name>
        <url-pattern>/DemandeLabo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandePosologie</servlet-name>
        <url-pattern>/DemandePosologie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandeRadio</servlet-name>
        <url-pattern>/DemandeRadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsPosologie</servlet-name>
        <url-pattern>/DetailsPosologie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evenement</servlet-name>
        <url-pattern>/Evenement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Interactions</servlet-name>
        <url-pattern>/Interactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObservationInfirmierController</servlet-name>
        <url-pattern>/ObservationInfirmierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pharmacie</servlet-name>
        <url-pattern>/Pharmacie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaChart_Consult</servlet-name>
        <url-pattern>/ReaChart_Consult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rea_Consult</servlet-name>
        <url-pattern>/Rea_Consult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rea_Update</servlet-name>
        <url-pattern>/Rea_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppFavoris</servlet-name>
        <url-pattern>/SuppFavoris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeuilleRea</servlet-name>
        <url-pattern>/UpdateFeuilleRea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patients</servlet-name>
        <url-pattern>/Patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoris</servlet-name>
        <url-pattern>/Favoris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Surveillance_Consult</servlet-name>
        <url-pattern>/Surveillance_Consult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlanificationNonRealise</servlet-name>
        <url-pattern>/getPlanificationNonRealise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tracabilite</servlet-name>
        <url-pattern>/Tracabilite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anesthesie</servlet-name>
        <url-pattern>/Anesthesie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MacAdresse</servlet-name>
        <url-pattern>/MacAdresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Impression</servlet-name>
        <url-pattern>/Impression</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UrgenceServlet</servlet-name>
        <url-pattern>/UrgenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prestations_Extras</servlet-name>
        <url-pattern>/Prestations_Extras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pancarte</servlet-name>
        <url-pattern>/Pancarte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbcdmi</description>
        <res-ref-name>jdbc/dmi</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>
